.hero {
  position: relative;
  background-image: url('./public/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 85vh;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 83%;
  max-width: 800px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 0px;
  color: white;
}

.hero-content p {
  font-size: 1.4rem;
  white-space: nowrap;
  color: white;
}

@media screen and (max-width: 975px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 629px) {
  .hero-content h1 {
    font-size: 1.5rem;
  }

  .hero-content p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 530px) {
  .hero-content h1 {
    font-size: 1rem;
  }

  .hero-content p {
    font-size: 0.5rem;
  }
}
