.awards {
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1545231160-e7ef23d9301f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.awards-content {
  display: flex;
  flex-direction: column;

  height: 41%;
  max-width: 600px;
  margin: 120px;
}

.awards-content h1 {
  font-size: 3rem;

  color: black;
}

.awards-content p {
  font-size: 1.4rem;

  color: black;
}
