.projects {
  display: flex;
  justify-content: center; /* Alineación horizontal al centro */
  flex-wrap: wrap;
  align-items: center;
  text-align: center; /* Envolver los elementos en filas */
}

.project-card {
  align-items: center;
  width: calc(
    33.33% - 20px
  ); /* Ancho máximo de cada tarjeta, menos el espacio entre ellas */
  margin: 10px; /* Espacio entre las tarjetas */
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
  gap: 15px;
}

.project-card img {
  width: 30%;
  height: 100px;
}

.project-card a {
  background-color: #ff69b4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media screen and (max-width: 414px) {
  .project-card {
    margin: 0;
    width: calc(50% - 20px);
  }
  .project-card img {
    height: auto;
  }
}
